In [8]:
import pandas as pd

Read data set

In [9]:
df = pd.read_csv('data/Gold Price (2013-2023).csv')

Dataset Overview

In [10]:
df

            Date     Price      Open      High       Low     Vol. Change %
0     12/30/2022  1,826.20  1,821.80  1,832.40  1,819.80  107.50K    0.01%
1     12/29/2022  1,826.00  1,812.30  1,827.30  1,811.20  105.99K    0.56%
2     12/28/2022  1,815.80  1,822.40  1,822.80  1,804.20  118.08K   -0.40%
3     12/27/2022  1,823.10  1,808.20  1,841.90  1,808.00  159.62K    0.74%
4     12/26/2022  1,809.70  1,805.80  1,811.95  1,805.55      NaN    0.30%
...          ...       ...       ...       ...       ...      ...      ...
2578  01/08/2013  1,663.20  1,651.50  1,662.60  1,648.80    0.13K    0.97%
2579  01/07/2013  1,647.20  1,657.30  1,663.80  1,645.30    0.09K   -0.16%
2580  01/04/2013  1,649.90  1,664.40  1,664.40  1,630.00    0.31K   -1.53%
2581  01/03/2013  1,675.60  1,688.00  1,689.30  1,664.30    0.19K   -0.85%
2582  01/02/2013  1,689.90  1,675.80  1,695.00  1,672.10    0.06K    0.78%

[2583 rows x 7 columns]