Import Libraries

In [8]:
import pandas as pd

Read data set

In [9]:
df = pd.read_csv('data/Gold Price (2013-2023).csv')

Dataset Overview

In [10]:
df

            Date     Price      Open      High       Low     Vol. Change %
0     12/30/2022  1,826.20  1,821.80  1,832.40  1,819.80  107.50K    0.01%
1     12/29/2022  1,826.00  1,812.30  1,827.30  1,811.20  105.99K    0.56%
2     12/28/2022  1,815.80  1,822.40  1,822.80  1,804.20  118.08K   -0.40%
3     12/27/2022  1,823.10  1,808.20  1,841.90  1,808.00  159.62K    0.74%
4     12/26/2022  1,809.70  1,805.80  1,811.95  1,805.55      NaN    0.30%
...          ...       ...       ...       ...       ...      ...      ...
2578  01/08/2013  1,663.20  1,651.50  1,662.60  1,648.80    0.13K    0.97%
2579  01/07/2013  1,647.20  1,657.30  1,663.80  1,645.30    0.09K   -0.16%
2580  01/04/2013  1,649.90  1,664.40  1,664.40  1,630.00    0.31K   -1.53%
2581  01/03/2013  1,675.60  1,688.00  1,689.30  1,664.30    0.19K   -0.85%
2582  01/02/2013  1,689.90  1,675.80  1,695.00  1,672.10    0.06K    0.78%

[2583 rows x 7 columns]

Dataset Basic Information:

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2583 entries, 0 to 2582
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      2583 non-null   object
 1   Price     2583 non-null   object
 2   Open      2583 non-null   object
 3   High      2583 non-null   object
 4   Low       2583 non-null   object
 5   Vol.      2578 non-null   object
 6   Change %  2583 non-null   object
dtypes: object(7)
memory usage: 141.4+ KB

Dropping Vol. and Change% because I don't use them:

In [14]:
df.drop(['Vol.', 'Change %'], axis=1,inplace=True)

To increase the speed of calculations, we convert its data type to date time and sort this feature in ascending order:

In [15]:
df['Date'] = pd.to_datetime(df['Date'])
df.sort_values(by='Date', ascending=True, inplace=True)
df.reset_index(drop=True, inplace=True)

I remove "," sign from the entire dataset and change the data type of the numerical variables to float:

In [16]:
NumCols = df.columns.drop(['Date'])
df[NumCols] = df[NumCols].replace({',':''}, regex=True)
df[NumCols] = df[NumCols].astype('float64')

Result:

In [17]:
df.head()

        Date   Price    Open    High     Low
0 2013-01-02  1689.9  1675.8  1695.0  1672.1
1 2013-01-03  1675.6  1688.0  1689.3  1664.3
2 2013-01-04  1649.9  1664.4  1664.4  1630.0
3 2013-01-07  1647.2  1657.3  1663.8  1645.3
4 2013-01-08  1663.2  1651.5  1662.6  1648.8

Checking duplicates

In [18]:
df.duplicated().sum()

np.int64(0)

Checking missing values

In [19]:
df.isnull().sum().sum()

np.int64(0)